.navbar-nav{
  margin-left:auto;
  margin-right:auto;
}
.container{
  padding-top:80px;
}
.toTop-arrow {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 33%;
	opacity: 0.6;
	background: #48BADC;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
	width: 18px;
	height: 5px;
	border-radius: 3px;
	background: #000;
	position: absolute;
	content: "";
}
.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.5rem;
}
.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.5rem;
}
.toTop-arrow:focus {outline: none;}
.namecard{
  height:250px;
  padding:30px;
  color:rgba(0,0,0,0.5);
  overflow:hidden;
  border-radius:10px;
  box-shadow:0px 25px 15px -10px rgba(0,0,0,0.2);
}
.namecard h2{
  font-size:30px;
  font-family:標楷體;
}
.namecard h2 span{
  font-size:20px;
  font-weight:500;
}
.namecard h5{
  font-size:18px;
  letter-spacing:6px;
}
.school{
  color:#514CE4;
}
.namecard p{
  font-size:15px;
  letter-spacing:6px;
  line-height:22px;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100..900&family=Noto+Serif+HK:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');
*{
  font-family: "Noto Serif HK", serif;
}
.card-text{
  
}
.acard{
  padding:20px;
  color:rgba(0,0,0,0.5);
  overflow:hidden;
  border-radius:10px;
}
.acard h4{
   font-size:20px;
  font-weight:500;
}
.bcard{
  height:100px;
  padding:5px;
  background-color:#E8E8E8;
  color:rgba(0,0,0,0.5);
  overflow:hidden;
  border-radius:10px;
  box-shadow:0px 25px 15px -10px rgba(0,0,0,0.2);
}
.a{
  padding-bottom:10px;
}
.h3{
  font-family: "LXGW WenKai TC", cursive;
}
.img1{
  position:absolute;
  animation-name:move;
  animation-duration:2s;
  animation-iteration-count:infinite;
}
@keyframes move{
  0%{
    left:10px;
  }
  30%{
    left:60px;
    width:50px;
  }
  40%{
    left:90px;
  }
  50%{
    left:20px;
  }
  75%{
    left:100px;
  }
  100%{
    left:0px;
  }
}
.ccard{
  background-color:#48BADC;
  color:white;
}
.img2{
  border-radius:10px;
  box-shadow:0px 25px 15px -10px rgba(0,0,0,0.2);
}
.nav-link:hover{
  background-color:#000000; 
}
